@import "../variables.scss";

.tokensBlock {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;

  width: auto;
  height: auto;
  left: 466px;
  top: 308px;

  background: $color_14161C;
  box-shadow: inset 0px 2px 2px $color_1B1E25;
  border-radius: 24px;
}

.tokenSale {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.saleText {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  color: $white;
}

.buttonInfo {
  width: 164px;
  height: 32px;
  right: 489px;
  top: 324px;

  border: none;
  text-align: center;

  background: rgba(246, 130, 31, 0.16);
  border-radius: 8px;
}

@media (max-width: 440px) {
  .buttonInfo {
    display: none;
  }
}

.buttonImg {
  vertical-align: middle;
  margin-right: 7px;
}

.buttonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: $brand_yellow;
}

.line {
  width: auto;
  left: 494px;
  top: 384px;

  background: rgba(246, 130, 31, 0.2);
  border-radius: 8px;
  margin-bottom: 10px;
}

.lineDone {
  width: 98px;
  height: 8px;
  left: 494px;
  top: 384px;

  background: $brand_yellow;
  border-radius: 8px;
}

.amountPem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.sold {
  justify-content: space-between;
}

.soldText {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  margin-bottom: 8px;

  color: $color_848a8f;
}

.numData {
  display: flex;
}

.numText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: $white;
}

.vertical {
  border-left: 1px solid $color_2b3139;
  margin: 0px 10px 0px 10px;
}

.pemText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 4px;
  color: $color_848a8f;
}

.procentText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: $brand_yellow;
}

.lineGrey {
  width: auto;
  left: 490px;
  top: 476px;

  mix-blend-mode: luminosity;
  border: 1px solid $color_2b3139;
}

.percentBlockAll {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.percentBlock {
  display: flex;
  text-align: center;
}

.percentImg {
  vertical-align: middle;
}

.discountText {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 12px;

  color: $color_848a8f;
}

.percentText {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: right;

  color: $color_16c784;
}

.daysText {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  margin-left: 5px;

  color: $white;
}
