@use "../../variables.scss";

.background {
  background-color: variables.$black;
  .content {
    position: relative;
    height: 100%;
    max-width: 749px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
